data/logs/
data/vc_files/
data/images/
data/config/data.yml
data/config/token.yml
data/config/blacklist.yml
data/config/config.yml
test.py
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.gitignore