bot:
  id:
  prefix:
  admin:
    admin_name:
    admin_id:
  color:
  version:
  playing_status:
  megaspam_max:
  purge_max:

files:
  logs_path: "data/logs"
  images_path: "data/images"
  vc_files_path: "data/vc_files"
  vc_download_path: "data/vc_files/yt_temp"
  ffmpeg_path: